html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background: #0D192C;
  
}
.everything{
  height: 596px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 0px #00000018;
  background: #15263F;
  padding: 24px;
  padding-bottom: 32px;
  position: relative;
}
.box{
  cursor: pointer;
  display: block;
}
.box:hover {
  background: #00FFF8;
}
.equilibrium{
  border-radius: 8px;
  background: url(.png);
   width: 100%;
  transform: .5s ease;
  display: block;
  backface-visibility: hidden;
  position: relative;
  transition: 0.3s;
  height: 100%;


}
.equilibrium:hover{
  opacity: 0.3;
  mix-blend-mode: normal;
  
}
.iconview{
  opacity: 1
  transition: .5s ease;

}
.iconview:hover{
  opacity: 1;
}
.view{
  opacity: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  display:flex;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: .5s ease;
 
}
.view:hover{
  opacity: 1;
}
h1{
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color:#FFFFFF;
  cursor:pointer;
  transition: .5s ease;
}
.texts h1:hover{
  color:#00FFF8;
}
.textwo{
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color:#8BACD9;
  width: 100%;
}

.ethereum{
  display: flex;
  align-items: center;
  color:#00FFF8;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  

}
.clock{
  display: flex;
  align-items: center;
  color:#8BACD9;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  
  
}
.imgicon{
  margin-right: 8px;
}
.group{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #2E405A;

}
.imgavatar{
  height: 33px;
  width: 33px;
  margin-top: 16px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 20px;
}
.creation{
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
color:#8BACD9;
}
.name{
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
color:#FFFFFF;
cursor: pointer;
transition: .5s ease;
  

}
.avatar{
display: flex;
  align-items: center;
}
.name:hover{
  color: #00FFF8;
}








